<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.template.mvvm.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        tools:replace="allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <meta-data
            android:name="com.template.mvvm.core.ExAppGlideModule"
            android:value="ExAppGlideModule"/>

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="https"
                    android:host="project-ww.appspot.com"
                    />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/HomeTheme">
        </activity>


        <activity
            android:name=".product.ProductsActivity"
            android:theme="@style/ProductsTheme"/>


        <activity
            android:name=".product.detail.ProductDetailActivity"
            android:theme="@style/ProductDetailTheme"/>

        <activity
            android:name=".about.AboutActivity"
            android:theme="@style/AboutTheme"/>


        <activity
            android:name=".licenses.SoftwareLicensesActivity"
            android:theme="@style/SoftwareLicensesTheme"/>
    </application>
</manifest>
